body {
  margin: 0;
  padding: 0;
  font-family: 'Song Myung';
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: center;
}

.messageList-container {
  margin: 5% 20%;
  height: 80%;
  overflow-y: auto;
}

.message-container {
  margin: 3% 20%;
  padding: 3% 10%;
  background-color: #f4f4f4;
  border-radius: 8%;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-logo {
padding-right: 15px;
}